.container {
  width: calc(100vw - 48px);
  /* height: 100vh; */
  padding: 24px;
  display: grid;
  align-items: center;
}
.logo {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 12px;
  margin-top: -18px;
}
.imgWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border: 5px solid red; */
  box-shadow: 0px 0px 0px 4px #f79004;
  background: url("../../assets/images/director.jpg") no-repeat center center
    fixed;
  background-size: contain;
  background-attachment: inherit;
  display: none;
}

.mainImg {
  max-width: 100%;
  display: none;
}
.play {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.videoWrapper {
  /* max-width: 640px;
  max-height: 420px; */
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.video {
  width: 100%;
  box-shadow: 0px 0px 0px 4px #f79004;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
}
.aligner {
  position: relative;
  width: calc(100% - 72px);
  height: calc(100% - 210px);
  margin: 4px auto 16px;
  /* background-color: #000; */
}
.close {
  position: absolute;
  width: 24px;
  top: 4px;
  right: 4px;
  cursor: pointer;
  background: #ffffff80;
  border-radius: 50%;
}
.forwardIcon {
  margin-left: 36px;
}

@media screen and (max-width: 1200px) {
  .logo {
    max-height: 65px;
    margin-bottom: 16px;
  }
  .aligner {
    width: 100%;
    height: calc(100% - 162px);
  }
  .forwardIcon {
    margin-left: 0;
  }
  .video {
    /* box-shadow: none; */
    /* width: 100% !important;
    height: 100% !important; */
    box-shadow: 0px 0px 0px 4px #f79004;
    display: flex;
  }
}
