.icon {
  width: 25px;
  height: 25px;
  filter: invert(1);
  background: #ccc;
  border-radius: 50%;
  opacity: 0.8;
}

.backIcon {
  transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
  .icon {
    width: 25px;
    height: 25px;
  }
}
