.container {
  display: flex;
  justify-content: space-between;
  padding: 1% 36px 24px 36px;
  height: 100vh;
}
.items {
  width: 25%;
  height: calc(100% + 80px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -8px;
}

.item.active {
  font-weight: 900 !important;
  color: #0f6ab4 !important;
}
.mediaWrapper {
  width: 75%;
}
.video {
  box-shadow: 0px 0px 0px 4px #f79004;
  margin-bottom: 24px;
}
.footerIcons {
  position: fixed;
  bottom: 16px;
  right: 0;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  filter: invert(1);
  width: 50px;
  cursor: pointer;
  display: none;
}
.burgerMenu {
  display: none;
  width: 35px;
  position: fixed;
  top: 12px;
  left: 12px;
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 1200px) {
  .container {
    height: 100vh;
  }
  .burgerMenu {
    display: block;
    margin-top: 9vw;
  }
  .items {
    position: fixed;
    background: #000000e6;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    padding: 58px 56px 13px 11px;
    z-index: 9;
  }
  .items.visible {
    display: block;
  }
  .items.hidden {
    display: none;
  }
  .mediaWrapper {
    margin: auto;
  }
  .close {
    display: block;
  }
}
@media screen and (max-width: 771px) {
  .mediaWrapper {
    margin: auto;
  }
  .burgerMenu {
    display: block;
    margin-top: 12vw;
  }
}
@media screen and (max-width: 850px) {
  .container {
    height: 100vh;
    display: flow-root;
    margin-top: 30%;
  }
}
